.client-list {
    @include flex (flex, center, center);
}
.client-list__item {
    width: 170px;
    height: 92px;
    & + .client-list__item {
        margin-left: 30px;
    }
}
.client-list__link {
    color: var(--icon-color);
    width: 100%;
    height: 100%;
    background: var(--primary-white-color);
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    
    @include flex (flex, center, center);
    cursor: pointer;
    transition:background-color var(--animation), color var(--animation)  ;
    &:hover,
    &:focus {
        border:1px solid var(--accent-color);
        border-radius: 4px;
        background-color: var(--primary-white-color);
    }
}
.client-list__icon {
    width: 106px;
    height: 60px;
    fill: currentColor; 
    .client-list__link:hover &,
    .client-list__link:focus & {
        fill: var(--accent-color); 
    }
}


