.footer {
    background-color: var(--background-hero-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer>.container{
    text-align: center;
    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px){
        display: flex;
        flex-wrap: nowrap;
        text-align: left;

    } 
}

.footer-left-container{
    @media screen and (min-width: 768px){
        display: flex;
        justify-content: space-around;
        width: 100%; 
        margin-bottom: 60px;  
    }
    @media screen and (min-width: 1200px){
        display: flex;
        justify-content: space-between;
        margin-right: 93px;
    }
}
.footer-thumb{
    margin-bottom: 60px;
    @media screen and (min-width: 768px){
        margin: 0 auto;
    } 
    @media screen and (min-width: 1200px) {
        // margin-right: 60px; 
        margin: 0px;
    } 
}
.address-list {
    color: var(--primary-white-color);

    @include font (14px, 1.7, 0.03em, 400);
    font-style: initial;

    margin-bottom: 0px;
}
.address-list__item {
    margin-bottom: 8px;
    &:last-child {
        margin-bottom: 0px;
    }
}

.address-list__item {
    @media screen and (min-width: 1200px){
        margin-bottom: 9px;
        &:last-child {
            margin-bottom: 0px;
        } 
    } 
}
.address-list__contact {
    color: var(--address-contact-color);

    text-decoration: none;
    transition: color var(--animation);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}
.footer-icon{
    margin-right: auto;

    text-align: center;
    margin-bottom: 60px;
    // width: 206px;
    @media screen and (min-width: 768px){
        margin-left: auto;
     }
     @media screen and (min-width: 1200px){
        margin: 0px;
     }
}
.footer-icon__tittle{
    margin-bottom: 20px;
    
    text-transform: uppercase;
    color: var(--primary-white-color);

    font-family: Roboto, sans-serif;
    @include font (14px, 1.17, 0.03em, 700);
    @media screen and (min-width: 1200px){
        @include font (14px, 1.14, 0.03em, 700);
        text-align: left;
    }
    
}
.footer-socials{
    @include flex (flex, center, center);
}
.footer-socials__item {
    width: 44px;
    height: 44px;
    & + & {
        margin-left: 10px;
        }
}
.footer-socials__link{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    @include flex (flex, center, center);

    background-color: rgba(255, 255, 255, 0.1);
    margin: 0;
    transition: background-color var(--animation);
    &:hover,
    &:focus {
    background-color: var(--accent-color);
    }
}
.footer-socials__icon{
    fill: var(--primary-white-color);
    .footer-socials__link:hover &,
    .footer-socials__link:focus &{
        fill: var(--primary-white-color);
    }
}
.footer-form-field{
    text-align: center;
    @media screen and (min-width: 768px){
        margin: 0 auto;
     }
    @media screen and (min-width: 1200px){
       display: flex; 
       justify-content: center;

    }
    
}
.footer-form{
    width: 100%;
    @media screen and (min-width: 1200px){
        width: 450px;  
      }
    @media screen and (min-width: 1200px){
        
        // width: 570px;
        height: 86px;
        margin: 0px;
    }
    
}
.footer-form__tittle {
    margin-bottom: 20px;
    
    text-transform: uppercase;
    color: var(--primary-white-color);

    font-family: Roboto, sans-serif;
    @include font (14px, 1.17, 0.03em, 700);
    @media screen and (min-width: 1200px){
        @include font (14px, 1.14, 0.03em, 700);
        text-align: left;
    }
    
}
.footer-form__block {
    text-align: center;
    width: 100%;
    
    @media screen and (min-width: 1200px){
        display: flex;
        justify-content: space-between;
        
    }
    
}

.footer-form__email {
    width: 100%;
    margin-bottom: 20px;
    height: 50px;
    @media screen and (min-width: 768px){
        width: 450px;  
    
      }
    @media screen and (min-width: 1200px){
      width: 358px;  
      margin-bottom: 0px;
      margin-right: 12px;
    }
    
    

    font-family: Roboto, sans-serif;
    @include font (16px, 1.25, 0.03em,400);

    color: var(--footer-form-email-color);

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: 0%;
    outline: none;
    transition: border var(--animation);
    padding-left: 16px;
    &::placeholder{
        font-family: Roboto;
        @include font (16px, 1.25, 0.03em, 400);
    
        color: var(--footer-form-email-color);  
    }
    &:focus,
    &:hover{
    border: 1px solid var(--accent-color);
    }
}

.footer-form__btn{
    width: 200px;
    height: 50px; 
    background-color: var(--accent-color); 
    color: var(--primary-white-color); 

    margin: 0 auto;

    @include font (16px, 1.8, 0.06em, 700);
    border-radius: 4px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 1200px){
        margin: 0;
        padding: 0;
    }
    
    transition: background var(--animation);
    &:hover,
    &:focus{
    /* border: 1px solid var(--accent-color); */
    background: var(--footer-form-btn-hover);
    }
}
.footer-form__icon{
    margin-left: 10px;
}