.header {
    border: 1px solid var(--header-border-color);
    position: relative;
}
.container>.header-nav {
    @include flex (flex, center, center);
}
.header>.container {
    @media screen and (min-width: 768px){
        @include flex (flex, center, center);
    }
}
.nav{
    display: none;
    @media screen and (min-width: 768px){
        display: flex;
        margin-right: 84px;
    }  
}
.nav__item {
    margin-right: 50px;
    display: block;
    &:last-child {
        margin-right: 0px;
    }
}
.nav__link--current {
    color: var(--accent-color);

    @include font (14px, 1.14, 0.02em, 500);
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    position: relative;
}
.nav__link--current.active::after{
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    position: absolute;
    border-radius: 2px;
    left: 0;
    bottom: -1px;
}
.nav__link {
    color: var(--tittle-text-color);

    @include font (14px, 1.14, 0.02em, 500);
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    transition: color var(--animation);
    &:hover,
    &:focus {
    color: var(--accent-color);
    }
}
.auth-nav {
    display: none;
    @media screen and (min-width: 768px){
        display: block;
        margin-left: auto;
    }
    @media screen and (min-width: 1200px){
        display: flex;
    }
}

.auth-nav__item {
    @media screen and (min-width: 1200px){
        margin-right: 50px;
        display: block;
        &:last-child {
            margin-right: 0px;
        }
    }
}
.auth-nav__info {
    color: var(--primary-text-color);
    &:last-child {
        margin-bottom: 10px;
    }
    @include font (12px, 1.14, 0.02em, 500);
    display: flex;
    align-items: center;
    transition: color var(--animation);
    &:hover ,
    &:focus {
    color:var(--accent-color);
    }
    @media screen and (min-width: 1200px){
        padding-top: 32px;
        padding-bottom: 32px;
        @include font (14px, 1.14, 0.02em, 500);
        @include flex (flex, center, center);
    }
}
.auth-nav__info {
    .auth-nav__icon{
        fill: currentColor;
    } 
}
.auth-nav__icon{
    margin-right: 10px;
}
.menu-toggle{
    transition: fill var(--animation);
    &:hover,
    &:focus{
    fill: var(--accent-color);
    }    
}
.menu-container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 5;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 40px;
    transform: translateX(100%);
    .container{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
}


.menu-container.is-open{
    transform: translateX(0);
    transition: transform var(--animation);
    
    
}
.mob-menu__item{
    font-family: Roboto;
    @include font (40px, 1.17, 0.02em, 500);
    color: var(--tittle-text-color); 
    &:not(:last-child){
        margin-bottom: 32px;
    }
}
.mob-menu__link--current {
    color: var(--accent-color);

    @include font (40px, 1.17, 0.02em, 500);
    display: block;
}
.mob-menu__link {
    color: var(--tittle-text-color);

    @include font (40px, 1.17, 0.02em, 500);
    display: block;
    transition: color var(--animation);
    &:hover,
    &:focus {
    color: var(--accent-color);
    }
}
// .mobil-menu{
//     margin-top: 306px;
// } 
.mobil-menu__item{
    font-family: Roboto;
    @include font (34px, 1.17, 0.02em, 500);
    &:not(:last-child){
        margin-bottom: 32px;
    }
}
.mobil-menu__info{
    color: var(--accent-color);
}
.mobil-menu__info--mail{
    font-family: Roboto;
    @include font (24px, 1.16, 0.02em, 500);
    color: var(--primary-text-color);
}
.menu-social{
    display: flex;
    margin-top: 64px;
}
.menu-social__item{
    &:not(:last-child){
        margin-right: 10px;
    }
}
.menu-social__link{
    font-family: Roboto;
    @include font (18px, 1.22, 0.02em, 500);
    color: var(--accent-color);
}
.menu-social__link.line::after{
    content: '';
    width: 22px;
    height: 0px;
    margin-left: 10px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
}
.menu-toggle{
    display: inline-flex;
    margin-left: auto;
    padding: 0px;
    border: 0;
    background-color: transparent;
    .icon-cross{
        display: none;
    }
    @media screen and (min-width: 768px){
        display: none;
    }
}
.menu-toggle.is-open {
    .icon-cross{
        display: block;
        
    }
}
.menu-toggle.is-open {
    .icon-menu{
        display: none;
    }
}
.js-close-menu {
    padding: 0px;
    border: 0;
    background-color: transparent;
    position: absolute;	
    right: 15px;	
    top: 10px;	
    cursor: pointer;
	width: 40px;	
    height: 40px;	
    border-radius: 50%;	
    @include flex (flex, center, center);
}
.js-close-menu{
    transition: fill var(--animation);
    &:hover,
    &:focus{
    fill: var(--accent-color);
    }    
}
