.header {
    border: 1px solid var(--header-border-color);
    position: relative;
}
.container>.header-nav {
    @include flex (flex, center, center);
}
// .header>.container {
//     @include flex (flex, center, center);
// }
.nav{
    display: none;
    // display: flex;
}
.nav__item {
    margin-right: 50px;
    display: block;
    &:last-child {
        margin-right: 0px;
    }
}
.nav__link--current {
    color: var(--accent-color);

    @include font (14px, 1.14, 0.02em, 500);
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    position: relative;
}
.nav__link--current.active::after{
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    position: absolute;
    border-radius: 2px;
    left: 0;
    bottom: -1px;
}
.nav__link {
    color: var(--tittle-text-color);

    @include font (14px, 1.14, 0.02em, 500);
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    transition: color var(--animation);
    &:hover,
    &:focus {
    color: var(--accent-color);
    }
}
.auth-nav {
    display: none;
    // margin-left: auto;
    // @media screen and (min-width: 1200px){
    //     display: flex;
    // }
}

.auth-nav__item {
    @media screen and (min-width: 1200px){
        margin-right: 50px;
        display: block;
        &:last-child {
            margin-right: 0px;
        }
    }
}
.auth-nav__info {
    color: var(--primary-text-color);

    padding-top: 32px;
    padding-bottom: 32px;
    @include font (14px, 1.14, 0.02em, 500);
    @include flex (flex, center, center);
    transition: color var(--animation);
    &:hover ,
    &:focus {
    color:var(--accent-color);
    }
}
.auth-nav__info {
    .auth-nav__icon{
        fill: currentColor;
    } 
}
.auth-nav__icon{
    margin-right: 10px;
}
// .icon-menu:hover,
// .icon-menu:focus{
//     fill: var(--accent-color);
// }
.icon-menu{
    transition: fill var(--animation);
    &:hover,
    &:focus{
    fill: var(--accent-color);
    }
}
.menu-container{
    // display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 5;
    padding-top: 10px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 15px;
    transform: translateX(100%);
}
.menu-container.is-open{
    transform: translateX(0);
    transition: transform var(--animation);
}
.mob-menu__item{
    font-family: Roboto;
    @include font (40px, 1.17, 0.02em, 500);
    color: var(--tittle-text-color);
    &:not(:last-child){
        margin-bottom: 32px;
    }
}
.mobil-menu__item{
    font-family: Roboto;
    @include font (40px, 1.17, 0.02em, 500);
    color: var(--tittle-text-color);
    &:not(:last-child){
        margin-bottom: 32px;
    }
}
.menu-toggle{
    display: inline-flex;
    margin-left: auto;
    padding: 0px;
    border: tomato;
    background-color: transparent;
    .icon-cross{
        display: none;
    }
}

// .menu-toggle.is-open {
//     .icon-cross{
//         display: block;
//     }
// }
// .menu-toggle.is-open {
//     .icon-menu{
//         display: none;
//     }
// }



// .menu-toggle {
//     min-height: 40px;
//     min-width: 40px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
  
//     margin: 0;
//     padding: 0;
//     background-color: transparent;
//     cursor: pointer;
//     border: none;
//     border-radius: 50%;
//     outline: none;
//   }
  
//   @media (min-width: 768px) {
//     .menu-toggle {
//       display: none;
//     }
//   }
  
//   .menu-toggle:hover,
//   .menu-toggle:focus {
//     background-color: rgba(0, 0, 0, 0.1);
//   }
  
//   .menu-container {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100vw;
//     height: 100vh;
//     padding: 32px;
//     background-color: #3f51b5;
//     z-index: 999;
  
//     transform: translateX(100%);
//     transition: transform 250ms ease-in-out;
//   }
  
//   .menu-container.is-open {
//     transform: translateX(0);
//   }
  
//   .menu-container .menu-toggle {
//     color: #fff;
//   }
  
//   .mobile-menu {
//     padding: 0;
//     margin: 0;
//     list-style: none;
//   }
  
//   .mobile-menu .link {
//     display: block;
//     padding: 10px;
//     color: #fff;
//     text-decoration: none;
//   }