.section-tittle {
    @include font (28px, 1.17, 0.03em, 700);
    text-align: center;
    margin-bottom: 30px;

    color: var(--tittle-text-color);
    @media screen and (min-width: 1200px){
        margin-bottom: 50px;
        @include font (36px, 1.16, 0.03em, 700);
    }
}