body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    margin: 0;

    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
}
textarea {
    resize: none;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
// .item {
//     margin-right: 30px;
//     &:last-child {
//         margin-right: 0px;
//     }
// }

