:root{
    --primary-text-color: #757575;
    --tittle-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color:#ffffff;
    --logo-color:#000000;
    --background-hero-color:#2F303A;
    --section-command-color:#F5F4FA;
    --address-contact-color:rgba(255, 255, 255, 0.6);
    --header-border-color: #ECECEC;
    --portfolio-card-border-color: #EEEEEE;
    --icon-color: #AFB1B8;
    --top-text: rgba(33, 150, 243, 0.9);
    --work-top-text:rgba(47, 48, 58, 0.8);
    --modal:rgba(0, 0, 0, 0.2);
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --footer-form-btn-hover: #188CE8;
    --footer-form-email-color: rgba(255, 255, 255, 0.6);
}